body {
  /*background-image: url('background.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FBFAF5;
  color: Black;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
p { margin:0 }
.main {
  margin-left: 280px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}
.itemONE {
  color: #747474;
  font-family: "Helvetica", "serif";
  padding 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
.about {
  display: flex;
  flex-wrap: wrap;
  width: 100vw - 580px;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  box-sizing: border-box;
  text-align: center;
}
.Resume {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  box-sizing: border-box;
  text-align: center;
}
.break {
flex-basis: 100%;
height: 0;
}
.aboutMe {
  width: 750px;
  margin: auto;

}
.links{
  width: 750px;
  margin: auto;
  padding-left: 80px;
}
a:link {
  color: #2F2FA2;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
.relative {
  position: absolute;
  left: 50px;
  border: 5 px solid #73AD21
}
.container {
  max-width: 800px;
  margin: 0 auto;
  column-width: 14em;
}
.header {
  padding: 0px;
  text-align: center;
  background: #92DFF3;
  color: black;
  font-family: Helvetica;
  font-size: 10px;
  font-style: oblique;
}
.header h1 {
  font-size: 40px;
  padding: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
li {
  float: left;
  padding-left:37px;
  bottom: 0;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: black;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}
.sidenav {
  text-align:center;
  display:block;
  justify-content: center;
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
}
.sidenav b{
  padding: 10px;
  font-size: 25px;
  color: #D3D3D3;
  display: block;
  text-align: center;
}
.sidenav a {
  padding: 15px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-align: left;
  }
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav img{
  width:150px;
  border-radius: 25%;
  border: 5px solid #555;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #FF0000;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #FF0000;
  color: white;
}
div {
  float: left;
  padding: 15px;
}
.div1 {
  padding-top: 175px;
  padding-right: 30px;
  padding-bottom: 125px;
  padding-left: 80px;
  text-align: center;
  font-size: 60px;
  max-width: 700px;
  margin: auto;

}
.div2 {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 150px;
  margin: auto;
  font-size: 30px;
}
.grid {
  width: 1200px;
  height: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 1000px;
  gap: 10px;
  padding-left: 125px;
}
.item1 {
  justify-content: center;
  text-align: left;
  width: 650px;
  float: left;
}
.pdf {
  max-width: 100%;
  width: 1000vw;
  height: 850vh;


}
.itemONE img{
  width: 510px;
  height: 552px;
  border-radius: 25%;border: 5px solid #555;
  padding-left: 0px:
}
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

@media only screen and (max-width: 769px) {

  body {
    background-color: lightblue;
  }
  .sidenav {
    font-size: 5px;
    display:flex;
    justify-content: left;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left:0px;
  }
  l {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.sidenav b{
  padding: 2px;
  padding-top: 30px;
  font-size: 0px;
  color: #111;
  display: flex;
  text-align: left;
  font-size: 10px;
  max-width: 0px;
}
.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: flex;
  text-align: center;
  min-width: 20px;
  }
.sidenav img{
  width:85px;border-radius: 25%;border: 5px solid #555;
  height: 85px;
  padding-left: 0px:

}
li {
  display:flex;
  font-size: 5px;
  padding:0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

li a {
  display: flex;
  color: white;
  text-align: left;
  padding: 0;
  font-size: 5px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0px;
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width:20px;
  min-width:20px;
  height: 100%;
  grid-template-columns: 1fr;

}
.fa {
  padding: 2px;
  font-size: 0px;
  width: 5px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 50%;
  background: #FF0000;
  border-width: 0px;
}
.Resume {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
.about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
.main {
  margin-left: 0px; /* Same as the width of the sidenav */
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}
.itemONE {
  color: #747474;
  font-family: "Helvetica", "serif";
  padding 0px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}
.itemONE img{
  width: 255px;
  height: 276px;
  border-radius: 25%;border: 5px solid #555;
  padding-left: 0px:
}
